
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --darkgray:#d9d9d9;
  --gray: #e4e4e4;
  --black:#000000;
  --blue:#313d53;
  --orange: #eb6d47;
  --border: 1px solid #000000;
  --border-radius: 100px;
  --roboto: "Roboto", sans-serif;
  --raleway: "Raleway", sans-serif;
}

*{
  font-family: "Raleway", sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: .2s linear;
}

body {
  color: #000000;
  background-color: #ededed;
}

a, button {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
}

a:hover {
  color: var(--gray);
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
}

@media (min-width: 1200px){
  .container {
    max-width: 1110px !important;
  }
}

@media (min-width: 1300px){
  .container {
    max-width: 1180px !important;
  }
}

@media (min-width: 1500px){
  .container {
    max-width: 1315px !important;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  border: var(--border);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--black);
  line-height: 0;
}

.back-to-top:hover {
  border: var(--border);
  background-color: var(--black);
}

.back-to-top:hover i{
  color: var(--gray);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--black);
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.logo {
  margin-right: 1.5rem;
}

.nav-start .logo img {
  max-width: 50%;
}

#nav-menu {
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ededed;
  padding: 25px 0;
}

#nav-menu.header-scrolled {
  background: linear-gradient(#ededed, transparent, transparent, transparent);
  backdrop-filter: blur(6px);
}


.menu-bar .nav-link.raise-btn {
  background-color: var(--black);
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid var(--black);
}

.menu-bar .nav-link.raise-btn:hover {
  color: var(--black);
  background-color: var(--gray);
  border: 1px solid var(--black);
  transition: 0.5s ease;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
  transition: 300ms;
}

.menu-bar .nav-link:hover:not(.menu-bar .nav-link.raise-btn:hover),
.dropdown-link:hover {
  color: var(--orange);
  font-weight: 700;
}

.nav-start,
.nav-end,
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

.menu-bar .nav-link.dropdown-btn i {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 600;
}

.nav-end .raise-btn{
  display: none;
}

@media (max-width: 993px) {
  .nav-end .raise-btn {
    display: block;
    background-color: var(--black);
    padding: 6px 12px;
    border-radius: 100px;
    font-size: 12px;
    color: #fff;
    border: 1px solid var(--black);
   }

   .nav-end .raise-btn:hover{
    background-color: var(--gray);
    color: var(--black);
   }

  .menu-bar li .nav-link.underline,
  .aboutUsPage .menu-about,
  .productPage .menu-products {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  #nav-menu {
    padding: 15px 0;
    z-index: 10;
  }
  .menu-expanded.menu.show{
    display: none;
  }
  #hamburger {
    display: block;
    border: none;
    background-color: transparent;
  }

  .header-nav .container-fluid {
    padding: 0 20px;
  }
 
  .menu {
    display: none;
    position: absolute;
    top: 79px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
    background-color: #ededed;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.3rem;
    padding: 16px 0;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar .nav-link.dropdown-btn {
    width: unset;
  }

  .menu-bar .nav-link.dropdown-btn i {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 600;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .menu-bar .nav-link.raise-btn{
    max-width: max-content;
  }

}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  padding-top: 82px;
}

.hero-sub {
  /* padding: 200px 0 0 0; */
  text-align: center;
  margin: 0 auto;
}

.event-section{
  position: relative;
  padding: 100px 0 100px 0;
}

.event-close {
  position: absolute;
  right: 45px;
  top: 114px;
  font-size: 30px;
  cursor: pointer;
}

.hero-img.event-section {
  /* position: relative; */
}

.event-anchor:hover{
  color: var(--black);
}

.sale-text {
  position: absolute;
  top: 31%;
  right: 76px;
}

.sale-text h1 {
  font-size: 36px;
  color: #34465A;
  letter-spacing: 1.5px;
  margin: 0;
}

.sale-text p{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.sale-sub-text {
  font-weight: 700;
  letter-spacing: 1px;
}

.sale-text a{
  border: var(--border);
  border-radius: var(--border-radius);
}

.sale-text a:hover{
  background-color: var(--black);
  color: var(--gray);
}

.sale-text img {
  max-width: 90%;
  margin: 5px 0;
}

.hero-logo {
  max-width: 415px;
}

.hero-line-parent {
  padding: 60px 0 40px;
}

.hero-line:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid var(--blue);
  transform: translate(-50%);
}

.hero-line {
  margin: 0 auto;
  width: 60%;
  height: 100px;
  position:relative;
  text-align:center
}

.second-line {
  padding: 45px 0 30px;
}

.hero-text p {
  max-width: 639px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 auto 25px;
}

.hero-text a{
  border: var(--border);
  border-radius: var(--border-radius);
}

.hero-text a:hover {
  color: var(--gray);
  background-color: var(--black);
}

.hero-heading h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  margin: 0 0 40px 0;
  letter-spacing: 5px;
}

.section-container h3{
  position: relative;
}

.section-container h3::before {
  content: "";
  height: 1px;
  width: 106px;
  display: inline-block;
  background-color: var(--black);
  position: absolute;
  bottom: -20px;
  left: 1%;
  z-index: -1;
}

.section-container.we-head h3::before {
  left: 46%;
}


.service-img {
  padding: 40px 0 20px;
}

.service-img img {
  max-width: 80%;
}

#landing-services{
  display: block;
}

#landing-services::before{
  content: '';
  display: block;
  height: 108px;
  margin-top: -70px;
  visibility: hidden;
}

.col-container {
  display: table;
  width: 100%;
  padding: 0;
}
.service-col {
  display: table-cell;
  padding: 16px 8px;
  text-align: center;
}

.service-section-desc .service-col {
  cursor: pointer;
}

.service-section-desc .service-col h3 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.service-section-desc .service-col:hover p {
  font-weight: 500;
}

.service-col h3 {
  font-size: 16px;
  padding: 40px 0 12px 0;
  font-weight: 600;
}

.service-col p {
  font-size: 14px;
  max-width: 150px;
  margin: 0 auto;
}

.service-col img {
  opacity: 0.4;
  max-width: 22px;
}

.service-section-desc .service-col:hover img {
  opacity: 1;
}

.how-section-desc .service-col img {
  opacity: unset;
}

.service-more {
  padding: 40px 0 0 0;
}

.hero-text.service-more p {
  max-width: 1054px;
}

@media only screen and (max-width: 600px) {
  .service-col { 
    display: block;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }

}

/* Product Section */

.prod-head-text {
  padding: 60px 0 0 0;
}

.prod-para p {
  font-weight: 500;
  margin-bottom: 30px;
}

.prod-heading h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  margin: 0 0 40px 0;
  letter-spacing: 5px;
}

.prod-para a, .how-work-text a {
  border: var(--border);
  border-radius: var(--border-radius);
}

.prod-para a:hover, .how-work-text a:hover {
  color: var(--gray);
  background-color: var(--black);
}

section#product-section {
  padding: 20px 0 50px 0;
}

/* How it works */
section.howItworks {
  padding: 0 0 60px 0;
}

#how-it-works::before{
  content: '';
  display: block;
  height: 108px;
  margin-top: -70px;
  visibility: hidden;
}

.how-heading h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  padding: 0 0 10px 0;
  letter-spacing: 5px;
  text-align: center;
}

.section-container.how-head-sec h3::before {
  width: 0;
}

.how-heading hr{
  margin: 0;
  color: var(--black);
  opacity: 1;
}

.prod-img video{
  width: 97%;
  margin: 0 auto;
  display: block;
}

.how-img-text {
  padding: 30px 0 0 0;
}

.how-img-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-work-text{
  text-align: center;
}

.how-work-text p {
  font-weight: 500;
  margin: 0 142px 20px;
}

.how-section-desc .hero-line-parent {
  padding: 15px 0;
}

.how-section-desc .hero-line {
  width: 60%;
  height: 70px;
}

.how-section-desc .service-col h3 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 20px;
}

.how-section-desc .service-col p {
  max-width: 199px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


#contact::before{
  content: '';
  display: block;
  height: 120px;
  margin-top: -70px;
  visibility: hidden;
}

.contact .prod-img .carousel-item img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

section#home-clients {
  padding: 0;
}

.home-clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.home-clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--gray);
  opacity: 1;
  border: 1px solid var(--black);
}

.home-clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--black);
}

.home-clients .swiper-slide img {
  transition: 0.3s;
}

/* .home-clients-slider .swiper-slide {
  margin-right: 30px !important;
} */

.home-clients-slider .swiper-slide.swiper-slide-prev img,
.home-clients-slider .swiper-slide.swiper-slide-next img{
  width: 200px !important;
}

/* .home-clients-slider .swiper-slide.swiper-slide-next{
  margin-left: 30px !important;
} */

.home-clients-slider .swiper-slide.swiper-slide-active {
  width: 700px !important;
  position: relative;
  left: -93px;
}

.home-clients-slider .swiper-button-next, 
.home-clients-slider .swiper-button-prev{
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

/* .form-group input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  background: no-repeat;
} */

input[type="submit"] {
  cursor: pointer;
}

.subject-message input#subject {
  border: 1px solid var(--black);
}

/* .form-group textarea {
  resize: vertical;
  min-height: 100px;
  border: 1px solid var(--black);
  background: transparent;
  border-radius: 0;
} */

/* .form-control:focus {
  background-color: transparent;
  border-color: var(--black);
  outline: 0;
  box-shadow: none;
} */

.php-email-form {
  margin: 30px 0 0 0;
}

.col-md-8.text-message {
  padding: 0 0 0 100px;
}

.contact-submit {
  text-align: right;
  padding: 0 0 0 0;
}

#contact-submit button {
  background-color: var(--black);
  color: var(--gray);
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  margin: 30px 0 0 0;
}

#contact-submit button:hover{
  background-color: var(--gray);
  color: var(--black);
}

.contact .prod-heading h3::before {
  content: "";
  height: 1px;
  width: 106px;
  display: inline-block;
  background-color: var(--black);
  position: absolute;
  bottom: -20px;
  left: 2%;
  z-index: -1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer.footer {
  background-color: #e4e4e4;
  padding: 40px 0 20px 0;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--black);
  font-weight: 600;
}

.footer .location-details h3 {
  margin: 40px 0 14px 0;
}

.footer .what-we-do {
  padding-left: 157px;
}

.what-we-do p, .what-we-do a {
  max-width: 281px;
}

.what-we-do p {
  max-width: 270px;
}

.footer ul.links-footer li {
  padding: 0 0 30px 0;
  font-weight: 500;
}

.footer a, .footer p, .footer li {
  color: #000;
  padding: 0;
  font-size: 16px;
}

.about-us p {
  max-width: 460px;
}

.email-sub-row {
  padding: 10px 0 0 0;
}

.email-subscribe label{
  display: block;
}

.email-subscribe input {
  background: transparent;
  border: var(--border);
  border-radius: 0;
  margin: 10px 0;
  width: 58%;
  display: inline;
}

.email-subscribe button {
  background-color: var(--black);
  color: var(--gray);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 10px 30px;
  margin: 0 0 0 10px;
  display: inline;
}

.email-subscribe button:hover {
  background-color: var(--gray);
  color: var(--black);
  border-radius: var(--border-radius);
  border: var(--border);
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

p.social {
  margin: 64px 0 0 0;
}

.social-us .contact-icon span.bi {
  color: var(--black);
  padding: 0 10px 0 0;
  font-size: 20px;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 5px;
  background: var(--black);
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #fff;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: var(--black);
  background: #fff;
  border: 1px solid var(--black);
}

.social a i {
  line-height: 0;
}

.site-section .list-unstyled.links-footer li span.bi {
  padding: 0 10px 0 0;
}

.copy-right img {
  max-width: 22%;
}

.copy-right p {
  margin: 0 0 5px 0;
}
.copy-right {
  text-align: center;
}

.connect-details a span {
  padding: 0 10px 0 0;
  font-size: 20px;
  position: relative;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer .connect-details a {
  padding: 0 0 15px 0;
  display: inline-block;
}

ul.list-unstyled.connect-details {
  margin: 0;
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/

.tab button {
  display: block;
  padding: 22px 57px 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  border-right: var(--border);
  background: #ededed;
  letter-spacing: 1px;
}

.tab button:hover {
  border-right: var(--border);
}

.tabcontent {
  padding: 0 0 0 40px;
}

.tab1-section .prod-img {
  padding: 50px 0 0 0;
}

.tab1-section .tabs-story-column .col-container {
  width: 87%;
  margin: 30px auto 0;
}

.tab3-section .service-col h3 {
  padding: 15px 0 5px 0;
}

.tab3-section .service-col p {
  max-width: 273px;
}

.tab button.active {
  position: relative;
  font-weight: 700;
}

.tab button.active::after {
  content: "";
  height: 29px;
  width: 6px;
  display: inline-block;
  background-color: var(--black);
  position: absolute;
  right: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tabcontent .prod-heading h3::before {
  content: "";
  height: 0.8px;
  width: 106px;
  display: inline-block;
  background-color: var(--black);
  position: absolute;
  bottom: -20px;
  left: 1%;
  z-index: -1;
}

.tabs-para {
  padding: 20px 0 0 0;
}

.tabs-story-column .service-col {
  text-align: left;
  margin: 0;
}

.tabs-story-column .service-col p {
  max-width: 248px;
  margin: 0;
}

.tabs-story-column .service-col h3{
  position: relative;
  padding: 20px 0 12px 0;
}

.service-col img.our-sec-img{
     opacity: unset;
}
/* .tabs-story-column .service-col h3::before {
  content: url('../img/how-it-works/go-live.png');
  position: absolute;
  left: -11%;
  z-index: -1;
} */

.news-section {
  padding: 30px 0 0 0;
}

.tabcontent .news-section .prod-heading h3::before {
  width: 100%;
}

.news-rows {
  padding: 20px;
  background-color: #fff;
  margin: 15px 0 25px 0;
  display: inline-block;
}

.news-company {
  font-size: 24px;
  font-weight: 500;
}

.news-content p {
  padding: 20px 0 15px 0;
}

.expand summary {
  color: #2A7AFF;
}

.news-pagination {
  text-align: center;
}

.news-pagination button {
  font-size: 18px;
  border-right: 1px solid var(--black);
  padding: 0 20px;
  margin: 20px 0 0 0;
}

.news-pagination button:last-child {
  border: none;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.bk-slider {
  position: relative;
  height: auto;
  padding: 50px 0 36px;
}

.bk-slider .swiper {
  width: 100%;
}

.bk-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: all .3s ease;
  padding: 0 15px;
  
  &.swiper-slide-active {
    color: var(--black);
    /* transform: scale(1.4); */
    z-index: 2;
    width: 400px !important;
    min-height: 500px;
    /* margin: 0 auto !important; */
    /* padding: 0 67px; */
  }
}

.client-card {
  padding: 0 21px;
}

.bk-slider .swiper-slide .client-card img {
  margin: 79px 0 0 0;
}

.bk-slider .swiper-slide .client-card p {
  display: none;
}

.bk-slider .swiper-slide.swiper-slide-active .client-card p {
  display: block;
}

.bk-slider .swiper-slide.swiper-slide-active img {
  transform: scale(1.5);
  padding: 0 0 62px 0;
}

/* ARROWS */
.bk-slider .swiper-button-prev,
.bk-slider .swiper-button-next {
  color: rgb(246, 146, 89);
}

/* PAGINATION */
.bk-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  color: #000;
  opacity: 1;
  font-size: 0;
  background: rgba(0,0,0,0.2);
  
  &.swiper-pagination-bullet-active {
    background: var(--gray);
    border: var(--border);
  }
}

.client-card p{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
}

/*--------------------------------------------------------------
# Ticket
--------------------------------------------------------------*/

.submit-banner video{
  max-width: 80%;
  margin: 30px auto 0;
  display: block;
}

section#hero.submit-banner {
  padding: 115px 0 20px 0;
  text-align: center;
}

.submit-banner img {
  max-width: 82%;
  margin: 0 auto;
}
 
.submit-head-para {
  margin: 0 0 60px 0;
}

.sub-tabcontent .submit-head-para{
  text-align: center;
  max-width: 596px;
  margin: 0 auto 60px;
}

.submit-head-para .prod-heading h3{
  position: relative;
}

.submit-head-para .prod-heading h3::before {
  content: "";
  height: 1px;
  width: 106px;
  display: inline-block;
  background-color: var(--black);
  position: absolute;
  bottom: -20px;
  left: 1%;
  z-index: -1;
}

.sub-tabcontent .submit-head-para .prod-heading h3::before {
  left: 41%;
}

section.ticket-form {
  padding: 60px 0 100px 0;
}

.submit-sub-section {
  background-color: #fff;
  padding: 25px 30px 15px;
}

.submit-ticket-info {
  margin: 30px 0 0 0;
}

.cont-row-head h4 {
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0 0 20px 0;
}

.post-form-para p {
  text-align: center;
  padding: 30px 10px;
  margin: 0 auto;
}

.ticket-form form input,
.ticket-form form button,  
.ticket-form form optgroup, 
.ticket-form form select, 
.ticket-form form textarea{
  display: block;
  margin: 0 0 25px 0;
  width: 100%;
  background-color: transparent;
  border: var(--border);
  padding: 5px 10px;
}

.ticket-form form select {
  min-height: 148px;
  overflow-y: auto;
}

.sub-tab2-section .ticket-form form select {
  min-height: 147px;
  overflow-y: auto;
}

.ticket-form select.ticket-business-select{
  min-height: unset;
  overflow-y: auto;
}

.ticket-form select.contact-form-home {
  overflow-y: auto;
  min-height: 178px;
}

::-ms-input-placeholder {
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

.ticket-form .home-contact-submit input[type="submit"] {
  margin: 0 0 10px auto;
}

.sub-tab1-section .ticket-form .home-contact-submit input[type="submit"] {
  margin: 0 auto;
}

.sub-tab-section .tab button {
  display: block;
  margin: 4px;
  border-radius: 50px;
  padding: 10px 20px;
  width: unset;
  border-right: 0;
}

.sub-tab-section .tab button.active {
  border: 1px solid var(--black);
  border-radius: 50px;
  background-color: var(--black);
  color: var(--gray);
}

.sub-tab-section .tab {
  display: flex;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 50px;
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
}

.sub-tab-section .tab button.active::after {
  content: "";
  height: 0;
  width: 0;
}

.ticket-form .first-select{
  font-size: 0;
}

.ticket-form .home-contact-submit input[type="submit"]:hover {
  background-color: #fff;
}

.ticket-form form label {
  display: block;
  margin: 0 0 3px 0;
}

.ticket-form form .form-submit-tooltip {
  display: flex;
  justify-content: space-between;
}

.form-submit-tooltip span{
  color: #2A7AFF;
}

.submitPage .tooltip .tooltip-inner,
.homePage .tooltip .tooltip-inner {
  background-color: #fff;
  color: var(--black);
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / .2),0 6px 9px 0 rgb(0 0 0 / .1);
  padding: 15px 5px 15px 36px;
  max-width: 30%;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.5px;
  border: 1px solid #2A7AFF;
  text-align: left;
  position: relative;
  border-radius: 15px;
}

.submitPage .tooltip .tooltip-inner::before,
.homePage .tooltip .tooltip-inner::before {
  content: '?';
  position: absolute;
  top: 18px;
  left: 8px;
  font-size: 14px;
  width: 19px;
  height: 19px;
  padding: 0 0 21px 0;
  border-radius: 100%;
  color: #2A7AFF;
  background: white;
  border: thin solid #2A7AFF;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before, .bs-tooltip-start .tooltip-arrow::before{
  border-left-color: #2A7AFF;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before{
  border-bottom-color: #2A7AFF;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
  border-top-color: #2A7AFF;
}

.mathTooltip{
  display: flex;
  gap: 10px;
}

.mathTooltip span{
  color: #2A7AFF;
  position: relative;
}

.mathTooltip span::after {
  content: "";
}

.mathTooltip span:hover::after {
  content: "This is a way for us to verify your submission. We want to secure our entries.";
  padding: 15px;
  color: var(--black);
  border: 1px solid #2a7aff;
  border-radius: 15px;
  width: 300px;
  position: absolute;
  top: -34px;
  margin: 0 0 0 10px;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / .2),0 6px 9px 0 rgb(0 0 0 / .1);
}


.form-parent {
  max-width: 1086px;
  margin: 0 auto;
}

.ticket-form form input[type="submit"] {
  max-width: max-content;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
  border: var(--border);
  border-color: var(--black) !important;
  border-radius: var(--border-radius);
  background-color: var(--black);
  color: var(--gray);
}

.ticket-form form input[type="submit"]:hover{
  background-color: var(--gray);
  color: var(--black);
}

section.thank-section {
  text-align: center;
}

.thank-section a {
  text-decoration: underline;
  font-weight: 700;
  padding: 10px 5px;
}

.thank-section a:hover {
  color: var(--black);
} 

/* ======== Product Page ========= */

.sidebar ul {
  padding: 0;
}

.sidebar {
  border-right: 1px solid var(--black);
}

.sidebar li {
  margin: 20px 0 30px;
}

.sidebar li a {
  padding: 10px 25px 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sidebar li a.active {
  text-decoration: underline;
  color: var(--orange);
}


.productPage #nav-menu.header-scrolled {
  background: linear-gradient(#ededed, transparent, transparent, transparent);
  backdrop-filter: blur(6px);
}

section.product-tab-section {
  padding: 0 0 60px 0;
  position: relative;
}

.prod-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 104px;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, transparent, transparent, transparent);
  backdrop-filter: blur(6px);
  margin-top: -4px;
}

.bread-crumb-row {
  padding: 57px 0 0 0;
  position: relative;
}

.product-tab {
  overflow: hidden;
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}

.product-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  min-height: 80px;
  padding: 0;
  min-width: 110px;
}

.prod-tablinks p {
  display: none;
}

.product-tab button.active  p{
  display: block;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 0 0 0;
}

.product-tab button.active span {
  font-weight: 700;
  letter-spacing: 1px;
}

.product-tab .prod-tablinks img {
  max-width: 22px;
}

.product-tabcontent {
  display: none;
  padding: 6px 12px;
}

.overview-tab-content {
  text-align: center;
}

.overview-tab-content .submit-head-para{
  margin: 0;
}

.overview-tab-content .submit-head-para .prod-heading h3::before {
  bottom: -15px;
  left: 46%;
}

.overview-tab-content .tabs-para{
   margin: 20px 0;
}
.sub-Inquiry {
  display: block;
  background-color: var(--black);
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid var(--black);
  max-width: fit-content;
}

.sub-Inquiry:hover {
  background-color: var(--gray);
  color: var(--black);
}

.overview-tab-content .sub-Inquiry{
  margin: 0 auto;
}

.overview-tab-content img {
  width: 73%;
  padding-top: 50px;
}

.coming-soon {
  text-align: center;
}

.coming-soon .prod-heading h3 {
  margin: 0;
}

.coming-soon .prod-heading h3::before {
  width: 0;
}

.coming-soon .tabs-para {
  max-width: 52%;
  margin: 0 auto 20px;
}

.coming-soon .sub-Inquiry{
  margin: 0 auto;
}

span.bread-inner {
  font-weight: 600;
  letter-spacing: 1px;
}

.bread-parent span a {
  padding: 0;
  letter-spacing: 1px;
  font-size: 16px;
}

.bread-parent span a:hover {
  color: var(--black);
  text-decoration: underline;
  transition: 0.3s all;
  text-underline-offset: 3px;
}

.head-para-row {
  padding: 30px 0 0 0;
}

.prod-prev-button, .prod-next-button {
  display: none;
}

.tab4-section .tabs-para {
  border-bottom: 1px solid var(--black);
  padding-bottom: 40px;
}

.list-img {
  padding: 35px 0 35px;
}

.hilton-stay,
.marriot-hotels,
.hotels-others{
  padding-top: 45px;
}

.hilton-stay .list-img,
.marriot-hotels .list-img,
.hotels-others .list-img{
  padding-bottom: 50px;
}

/* products slider */
.container-inner {
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.container-inner .slider {
   margin: 0 auto 10px 0;
   width: calc(300em/16);
   height: calc(314em/16);
   overflow: visible;
}

.container-inner .slider__list {
   width: fit-content;
   cursor: grab;
}

.container-inner .slider__listItem {    
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}

.container-inner .other-prod-slider {
  border-radius: unset;
}

.container-inner .scroll {
   position: relative;
   left: 0;
   margin-top: calc(40em/16);
   width: 100%;
   overflow: hidden;
}

.container-inner .scroll__growbar {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   display: block;
   height: 100%;
   background: #937152;
}
.prod-arrows {
  display: flex;
  flex-direction: row-reverse;
}
.prod-arrows .swiper-button-next, .prod-arrows .swiper-button-prev {
  position: unset;
  margin-top: unset;
  width: 20px;
  padding: 15px;
  height: auto;
  color: var(--black);
}
.prod-heading-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .container-inner .swiper-pagination {
  position: unset;
} */

.container-inner .prod-slide-card p{
  margin-bottom: 0;
}
.slider__listItem:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.1);
}
.prod-slide-card .card-thumbnail {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
}
.prod-slide-card .card-thumbnail-text {
  font-size: 14px;
  margin-top: -3px;
}
.prod-slide-card .card-prod-heading {
  font-size: 24px;
  font-weight: 600;
}
.right-content .voltage-brands .submit-head-para {
  margin: 0 0 30px 0;
}
.right-content .voltage-brands .submit-head-para .prod-heading h3{
  margin: 0 0 35px 0;
}
.prod-heading-name p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 700;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px;
  font-weight: 800;
}
.cloud-img{
  padding-top: 35px;
}
.prod-slide-card img {
  display: block;
  margin: 0 auto;
}
#light video {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.id-div {
  display: block;
}
.id-div::before {
  content: '';
  display: block;
  height: 183px;
  margin-top: -118px;
  visibility: hidden;
}
.left-right .tab a{
  font-size: 16px;
  padding: 10px 25px 10px 0;
  display: block;
}
.left-right .tab a:hover {
  color: var(--black);
}
.tab a.active{
  font-weight: bold;
  border-right: 5px solid var(--black);
}
.product-tabcontent .head-para-row {
  z-index: 8;
  position: relative;
  background-color: #ededed;
}
/* Slider Overlay */
.card-overlay-main {
  position: relative;
  overflow: hidden;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-brand-img {
  height: 215px;
  object-fit: contain;
}

.slider-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 20px 20px 0;
  margin-top: 10px;
  background: linear-gradient(transparent, transparent, #fff, #fff, transparent);
  backdrop-filter: blur(8px);
  color: var(--black);
  overflow: hidden;
  transition: height 0.7s ease;
}

.slider-overlay h2,
.slider-overlay p {
  margin: 0;
}

.card-overlay-main:hover .slider-overlay {
  height: 100%; 
}

.overlay-slider-text{
  padding-top: 15px;
}

/* Product Slider Accordion */
.card-more {
  display: none; 
}
.card-more.active {
  display: block;
}
.prod-slide-card .rows{
  display: flex;
}
.prod-slide-card .card-prod-heading span {
  display: block;
  float: right;
  font-size: 21px;
  padding: 0;
  margin: 0;
}


/* ============ Responsive ==============*/
/* Mobile */

@media only screen and (max-width: 767.9px){

  .submitPage .tooltip .tooltip-inner,
  .homePage .tooltip .tooltip-inner {
    max-width: 86%;
  }

  .mathTooltip span:hover::after {
    padding: 10px;
    left: -131px;
    top: -106px;
}

  .prod-slide-card .rows {
    display: unset;
  }

  .container-inner .slider {
    width: calc(320em/16);
    height: unset;
   }


  p.social {
    margin: unset;
  }

.hilton-stay,
.marriot-hotels,
.hotels-others{
  padding-top: 10px;
}

.hilton-stay .list-img,
.marriot-hotels .list-img,
.hotels-others .list-img{
  padding-bottom: 30px;
}

.client-col p br{
  display: none;
}
section.sub-tab-section {
  padding: 20px 0 0 0;
}
  .sub-tab-section .tab {
    padding: 0;
  }
  .sub-tab-section .tab button {
    border-bottom: 0;
    padding: 10px 15px;
    font-size: 14px;
  }
  .list-img{
    text-align: left !important;
  }
  .home-clients .home-clients-slider .swiper-slide.swiper-slide-active {
    width: 400px !important;
    position: unset;
    left: unset;
  }
  .home-clients-slider .swiper-slide {
    margin-right: 40px !important;
  }
  .home-clients-slider .swiper-button-next, 
  .home-clients-slider .swiper-button-prev{
    color: var(--orange);
    display: block;
  }
  .hero-sub {
    padding: 45px 0 0 0;
  }
  .event-section{
    padding: 0px 0 50px 0;
  }
  .event-close {
    right: 21px;
    top: 51px;
    font-size: 15px;
  }
  .sale-text {
    top: 8%;
    right: 18%;
  }
  .sale-text h1 {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 0;
  }
  .sale-sub-text {
    font-size: 11px;
  }
  .sale-text p {
    font-size: 16px;
    line-height: 18px;
  }
  .sale-text a{
    font-size: 12px;
    padding: 5px 15px;
  }
  .sale-text img {
    max-width: 74%;
  }
  .hero-logo {
    max-width: 86%;
    margin: 0 auto;
  }
  .hero-line-parent {
    padding: 20px 0;
  }
  .hero-line {
    height: 64px;
  }
  .hero-heading h3 {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
  .section-container h3::before {
    bottom: -7px;
  }
  .section-container.we-head h3::before {
    left: 36%;
    bottom: -7px;
  }
  .service-img {
    padding: 10px 0;
  }
  .service-col h3 {
    padding: 10px 0 0 0;
  }
  .service-col p {
    max-width: 100%;
  }
  .service-more {
    padding: 15px 0 0 0;
  }
  section#hero {
    padding-bottom: 13px;
  }
  section#product-section {
    padding: 41px 0 14px 0;
  }
  .prod-heading h3 {
    font-size: 35px;
    margin: 0 0 24px 0;
  }
  .how-heading h3{
    padding: 0;
  }
  .how-heading hr {
    margin: 0 31px 13px;
  }
  .how-img-text {
    padding: 5px 0 10px 0;
  }
  .how-img-col {
    padding: 25px 20px 7px 25px;
  }
  .how-work-text p {
    max-width: 100%;
    margin: 0 0 27px 0;
  }
  .how-section-desc .hero-line {
    height: 50px;
  }
  .how-section-desc .service-col p {
    max-width: 100%;
  }
  .service-col {
    padding: 15px 16px;
    display: block;
  }
  section.howItworks{
    padding: 0;
  }
  section.contact {
    padding: 30px 0;
  }
  .php-email-form {
    margin: 10px 0 0 0;
  }
  .contact .prod-heading h3::before {
    bottom: -11px;
  }
  .col-md-8.text-message {
    padding: 0 14px;
  }
  .subject-message input#subject {
    border: 0;
    border-bottom: 1px solid var(--black);
  }
  #contact-submit button {
    margin: 0;
  }
  .sub-tab2-section .ticket-form form select,
  .ticket-form select.ticket-business-select,
  .ticket-form select.contact-form-home,
  .ticket-form form select{
   min-height: unset;
   color: var(--black);
  }
  .sub-tab2-section .ticket-form form select{
    min-height: unset;
  }
  .ticket-form select.contact-form-home{
    min-height: unset;
  }
  .contact-submit {
    padding: 0 15px;
  }
  footer.footer {
    padding: 20px 10px 36px 10px;
  }
  .footer .what-we-do {
    padding-left: 12px;
  }
  .email-subscribe input {
    width: 76%;
  }
  .email-subscribe button {
    margin: 10px 0 0 0;
    display: inline-block;
  }
  .footer ul.links-footer li {
    padding: 0 0 20px 0;
  }
  .copy-right img {
    max-width: 46%;
  }
  #aboutUs {
    margin: 0 !important;
  }
  .social-us {
    margin: 0 !important;
  }

  section.tab-section {
    padding: 10px 0 40px;
}

.tab {
    width: 100%;
    display: flex;
    padding: 0 27px;
    position: fixed;
    background: linear-gradient(to bottom, rgba(237, 237, 237, 1),  rgba(237, 237, 237, 1));
    z-index: 2;
    margin: -2px 0;
    left: 0;
    right: 0;
    height: unset !important;
}

.tab button {
    padding: 15px 10px 5px 10px;
    text-align: center;
    border-bottom: var(--border);
    border-right: none;
}

.tab button.active::after {
    height: 4px;
    width: 50px;
    right: 34px;
    bottom: 0;
}

.tab button:hover {
    border-bottom: var(--border);
    border-right: none
}

.tabcontent {
    padding: 80px 20px 0;
    width: 100%;
}

.tabs-story-column .service-col {
  padding: 15px 46px;
}

.tab1-section .tabs-story-column .service-col {
  padding: 15px 12px;
}

.tab1-section {
  display: flex;
  flex-direction: column;
}

.tab1-section .tabs-story-column .col-container {
  width: 100%;
  margin: 15px auto 0;
}

.tabs-story-column.how-section-desc {
  order: 3;
}

.tab1-section .prod-img {
  padding: 25px 0;
}

#nav-menu.header-scrolled {
  background: linear-gradient(#ededed, transparent, transparent, transparent);
  backdrop-filter: blur(6px);
}
.bk-slider {
  padding: 0;
}
.bk-slider .swiper-slide.swiper-slide-active {
  width: 103% !important;
  min-height: 487px;
}
.bk-slider .swiper-slide.swiper-slide-active .client-card img {
  transform: scale(1);
  padding: 0 0 20px 0;
  margin: 0;
}
.bk-slider .swiper-slide .client-card img {
  margin: 0 0 0 0;
}
.client-card {
  padding: 0;
}
.bk-slider .swiper-slide {
  padding: 0 5px;
  /* margin: 0 4px 0 0 !important; */
}
.submit-banner img {
  max-width: 93%;
  padding: 10px 0 0 0;
}
section.ticket-form {
  padding: 30px 0 60px 0;
}
.submit-head-para {
  margin: 0 0 20px 0;
}
.cont-row-head h4 {
  font-size: 24px;
}
.sub-tabcontent .submit-head-para .prod-heading h3::before {
  left: 34%;
}
.overview-tab-content .submit-head-para .prod-heading h3::before {
  bottom: -15px;
  left: 39%;
}

}

/*  */
@media only screen and (min-width: 451px) and (max-width: 767px){
  .home-clients-slider .swiper-slide.swiper-slide-active {
    width: 600px !important;
  }
}

@media only screen and (min-width: 390px) and (max-width: 450px){
  .sale-text {
    top: 12%;
    right: 19%;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px){
  .sale-text {
    top: 14%;
    right: 27%;
  }
}

/* Higher Mobile */
@media only screen and (min-width: 601px) and (max-width: 767px){

   .hero-sub .col-container {
      display: contents;
   }

   .service-col {
     padding: 16px 14px;
   }

   .service-col h3 {
     padding: 21px 0 4px 0;
   }
   .sale-text {
    top: 12%;
    right: 24%;
   }

}


/* Ipad Mini - Air */
@media only screen and (min-width: 768px) and (max-width: 1023px){

  .submitPage .tooltip .tooltip-inner,
  .homePage .tooltip .tooltip-inner{
    max-width: 53%;
  }

  .prod-slide-card .rows {
    display: unset;
  }

  .container-inner .slider {
    height: unset;
   }

   .container-inner .slider__listItem{
    height: auto;
   }

  .what-we-do p {
    max-width: 300px;
  }
  .email-subscribe input {
    width: 77%;
  }
  .email-subscribe button {
    margin: 10px 0 0 0;
  }
  p.social {
    margin: 15px 0 0 0;
  }
  .copy-right img {
    max-width: 25%;
  }
  .service-col h3 {
    padding: 21px 0 4px 0;
  }
  .hero-sub .col-container {
    display: contents;
  }
  .section-container.we-head h3::before {
    left: 42%;
  }
  .service-col {
    padding: 16px 14px;
  }
  .tabs-story-column .service-col h3::before {
    left: -19%;
  }
  .bk-slider .swiper-slide.swiper-slide-active{
    width: 92% !important;
    min-height: 530px;
  }
  .tab button {
    padding: 22px 10px 22px 4px;
    font-size: 13px;
  }
  .tabcontent {
    padding: 0 0 0 20px;
  }
  .tab button.active::after {
    width: 3px;
  }
  .bk-slider {
    height: auto;
    padding: 40px 0 36px;
  }
  .aboutUsPage #hero {
    padding-top: 20px;
  }

  .submit-banner img {
    padding: 38px 0 0 0;
  }
  section.ticket-form {
    padding: 40px 0 60px 0;
  }
  .footer .what-we-do {
    padding-left: unset;
  }
  .sub-tab2-section .ticket-form form select,
  .ticket-form select.ticket-business-select,
  .ticket-form select.contact-form-home,
  .ticket-form form select{
   min-height: unset;
   color: var(--black);
  }

  .sub-tab2-section .ticket-form form select{
    min-height: 147px;
  }
  .ticket-form select.contact-form-home{
    min-height: 170px;
  }
  
  .product-tab button {
    min-width: 80px;
  }
  .product-tab .prod-tablinks img {
    max-width: 18px;
  }
  .product-tab button.active p {
    font-size: 12px;
    font-weight: 700;
  } 
  .product-tab button#productOpen span {
    font-size: 12px !important;
  }
  .prod-fixed {
    top: 79px;
  }
  .productPage .container-inner {
    z-index: 8;
  }  
  
.left-right .tab a {
  padding: 10px 14px 10px 0;
  max-width: 100px;
}
.left-right .tab a.active{
  font-weight: 600;
  border-right: 3px solid var(--black);
}
.overview-tab-content .submit-head-para .prod-heading h3::before {
  bottom: -15px;
  left: 43%;
}

.event-close {
  right: 22px;
  top: 112px;
  font-size: 20px;
}
.sale-text {
  top: 27%;
  right: 33%;
}


}


/* Ipad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199.9px){
  
  .logo {
    margin-right: 0rem;
  }

  .event-close {
    right: 22px;
    top: 112px;
    font-size: 20px;
  }

  .sale-text {
    top: 26%;
    right: 37%;
  }

  .event-section .hero-banner-img {
    margin: 0 auto;
  }

.email-subscribe input {
  width: 52%;
}
.tabs-story-column .service-col h3::before {
  left: -15%;
}
.footer .what-we-do {
  padding-left: unset;
}
.tab button {
  padding: 22px 14px 22px 16px;
}
.tabcontent {
  padding: 0 0 0 20px;
}
.home-clients-slider .swiper-slide.swiper-slide-active {
  width: 555px !important;
  position: relative;
  left: -62px;
  margin-right: 0 !important;
}
.left-right .tab a {
  padding: 10px 14px 10px 0;
  max-width: 100px;
}
.left-right .tab a.active{
  font-weight: 600;
  border-right: 3px solid var(--black);
}
.overview-tab-content .submit-head-para .prod-heading h3::before {
  bottom: -15px;
  left: 44%;
}

}

/* Homeslider */
@media only screen and (max-width: 991.9px){
  .home-clients-slider .swiper-slide.swiper-slide-active {
    width: 800px !important;
    position: relative;
    left: -93px;
  }
  .home-clients-slider .swiper-button-next, .home-clients-slider .swiper-button-prev {
    color: var(--orange);
    display: block;
  } 

}

/* Prod tab mobile slide */
@media only screen and (max-width: 767px){

  .productPage #nav-menu {
    padding: 13px 0 13px 0;
  }

  .productPage section#hero.submit-banner {
    padding: 67px 0 20px 0;
    text-align: center;
  }

  .product-tabcontent {
    padding: 44px 12px;
  }

  .product-tabcontent .head-para-row {
    padding: 15px 0 0 0;
  }

  .mobile-fixed-tab-arrow{
    position: fixed;
    background:#ededed;
    z-index: 9;
    top: 88px;
  }

  .productPage .container-inner {
    z-index: 8;
  }  

  .prod-fixed {
    position: unset;
    width: 100%;
    z-index: 9;
  }

  .product-tab {
    overflow: auto;
    justify-content: unset; 
    align-items: unset;
    margin: 0;
  }

  .tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }
  
  .tab-buttons {
    display: inline-flex;
  }
  
  .prod-prev-button, .prod-next-button {
    border: none;
    color: var(--orange);
    cursor: pointer;
    padding: 7px;
    font-size: 30px;
    position: relative;
    display: inline-block;
  }

  .prod-next-button {
    float: right;
  }

  .prod-prev-button{
    float: left;
  }
  .left-right .tab {
    padding: 10px 27px;
    z-index: 11;
    margin: -4px 0;
    box-shadow: 3px 2px var(--gray);
  }
  .left-right .tab a {
    padding: 10px 10px;
  }
  .left-right .tab a.active {
    border-bottom: 5px solid var(--black);
    border-right: 0;
  }
  .coming-soon .tabs-para{
    max-width: 100%;
  }


}

/*  */

@media only screen and (min-width: 1500.9px){
   .client-col p br{
      display: none;
   }
}


/* ===== prod tab 576px - 1199px ===== */
@media only screen and (min-width: 576px) and (max-width: 767px){
  
}